<!-- MAIN -->
<main class="flex-grow">
  <div class="container">
      <form id="login-form" class="card-body">
          <h1 class="title pb-4">log in</h1>
        <div class="form-row">
          <label id="login-username-label" class="form-label" for="username-login">username</label>
          <input  id="username-login" name="username" type="text" autofocus="true" class="form-input form-control"/>
        </div>
        <div class="form-row mb-3">
          <label id="login-password-label" class="form-label" for="password-login">password</label>
          <input id="password-login" name="password" type="password" autofocus="true" class="form-input form-control"/>
        </div>
          <button id="login-button" type="submit" class="btn">login</button>
          <div id="login-divider"></div>
          <div id="login-footer">
            <p>new user? <a class="btn login-link" href="/signup">create a new account</a>!</p>
          </div>
      </form>
  </div>
</main>

{{> footer}}
</body>

<script rel="text/javascript" src="/js/login.js"></script>